@media (max-width: 768px) {
	.carousel-track {
		width: max-content;
		padding: 0; /* quita posibles líneas por padding */
		gap: 0.5rem;
	}
	.carousel-item {
		flex: 0 0 33.333%;
		height: 240px;
		box-sizing: border-box;
	}
	.carousel-item img {
		box-shadow: none;
		transform: none;
		height: 100%;
		max-height: 240px;
	}

	.carousel-btn {
		width: 40px;
		height: 40px;
		font-size: 1.2rem;
	}
}